body {
  font-family: Tahoma, sans-serif;
}
.wrap{
    width: 100%;
    height: 100%;
    min-width: 1190px;
    background: #000;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
h2{
    font-size: 30px;
    padding: 10px 20px 10px 20px ;
}
.q-menu-list li a img{
    width: 65px;
}
.topmenu{
    padding: 10px;
    background: #F2F2F2;
    border-radius: 5px;
}
.topmenu-list{
    display: flex;
}
.q-menu{
    background: #44486C;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
}
.q-menu-list{
    padding: 5px 20px 5px 20px ;
    display: flex;
    gap: 5px;
}
section{
    background: #ffffff;
    height: 100vh;
    float: left;
    width: 75%;
}
.search{
    display: flex;
    padding: 10px;
    background: #969696;
    color: #000;
    border: 1.5px solid #ffffff ;
    align-items: center;
    border-radius: 5px;
}
.dropdown{
    width: 135px;
    height: 25px;
    border: none;
}
.txtbox{
    width: 150px;
    height: 25px;
    border: none;
}
.btnsearch{
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    border: none;
    background: #25C8AE;
}
.file-list{
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

th, td {
  border: 1px solid rgba(150, 150, 150, 0.5);
  padding: 10px;
  text-align: center;
  height: 10px;
  word-wrap: break-word; /* 若內容過長可換行 */
  text-align: left;
  font-size: 14px;
  white-space: nowrap;       /* ✅ 不換行 */
  overflow: hidden;          /* ✅ 超出隱藏 */
  text-overflow: ellipsis;   /* ✅ 加省略號 */
}

th {
  background-color: #fffefe;
}

tr:nth-child(even) {
  background-color: #fafafa;
}
tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

aside{
    background: #d4c6c6;
    height: 100vh;
    float: right;
    width: 25%;
}
.q-menu2{
    background: #44486C;
    height: 76.778px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
}
.caseinfo{
    height: 40%;
    background: #ffffff;
    max-width: 100%;
    overflow-x: auto;      /* 若內容太寬時可橫向捲動 */
    box-sizing: border-box;
}
.caseinfo-table{
    width: 100%;
    table-layout: fixed;   /* 每欄平均分配寬度，避免撐出外面 */
    border-collapse: collapse;
}