a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.q-menu-list li a img{
    width: 100px;
}
.topmenu{
    padding: 10px;
    background: #c8ced1;
}
.topmenu-list{
    gap: 24px;
    display: flex;
}
.q-menu{
    background: #c0c7cc;
}
.q-menu-list{
    padding: 10px 20px 10px 20px ;
    display: flex;
    gap: 20px;
}
section{
    background: #000;
    height: 100vh;
    float: left;
    width: 70%;
}
aside{
    background: #b89a9a;
    height: 100vh;
    float: right;
    width: 30%;
}
