.wrap{
    width: 100%;
    min-width: 1190px;
    background: #000;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
h2{
    font-size: 30px;
    padding: 10px 20px 10px 20px ;
}
.q-menu-list li a img{
    width: 100px;
}
.topmenu{
    padding: 10px;
    background: #F2F2F2;
    border-radius: 10px;
}
.topmenu-list{
    gap: 24px;
    display: flex;
}
.q-menu{
    background: #44486C;
}
.q-menu-list{
    padding: 10px 20px 10px 20px ;
    display: flex;
    gap: 20px;
}
section{
    background: #ffffff;
    height: 100vh;
    float: left;
    width: 75%;
}
aside{
    background: #d4c6c6;
    height: 100vh;
    float: right;
    width: 25%;
}
.file-list{
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}